{% extends "layout.html" %}

{% block html %}
<head>
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <title>Home page</title>
</head>
<body>
    <h1>Hello</h1>
    <p>This is Tadas programing webpage!!!</p>
    <form action="/post_data" method="get">
        <button type="submit">Go to solve functions</button>
    </form>
    <form action="/posted_data" method="get">
        <button type="submit">Go to see posted data</button>
    </form>
    <form action="/scrape" method="get">
        <button type="submit">Go to scrape</button>
    </form>
    <form action="/dice_game" method="get">
        <button type="submit">Go to Dice Game</button>
    </form>
</body>
{% endblock %}