{% extends "layout.html" %}

{% block html %}
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>Post data</title>
    </head>
    <body>
        <h1>Hello</h1>
        <p>Suports these functions: SUM
        MULTIPLY DIVIDE GT LT EQ NOT AND OR IF CONCAT </p>
        <p>Example SUM(1, 2) IF(False, "iftrue", "iffalse")</p>
        <form action="/post_data" method="post">
            <input  name="data" type="text" size="30" placeholder="Data">
            <button type="submit">Post data</button>
        </form>
    </body>
{% endblock %}